---
import Logo from '@/components/Logo.astro'
import Social from '@/components/Social.astro'
import config from '@/config/config.json'
import menu from '@/config/menu.json'
import social from '@/config/social.json'
import { markdownify } from '@/lib/utils/textConverter'

const { footer }: { footer: { name: string; url: string }[] } = menu
---

<footer class="bg-[#47405a] pb-4 pt-10 text-white">
  <div
    class="container mx-auto flex flex-col justify-between gap-8 px-4 md:flex-row"
  >
    <!-- Left: Site Info -->
    <div>
      <h2 class="mb-2 text-2xl font-bold text-orange-300">
        CoderDojo Schöneweide
      </h2>
      <ul class="space-y-1 text-sm">
        <li><a href="#" class="hover:underline">Kontakt</a></li>
        <li><a href="#" class="hover:underline">Impressum</a></li>
        <li><a href="#" class="hover:underline">Datenschutzerklärung</a></li>
      </ul>
    </div>
    <!-- Middle: Navigation -->
    <div>
      <ul class="space-y-1 text-sm md:mt-0">
        <h2 class="mb-2 text-xl font-bold text-orange-300">Sitemap</h2>
        <li><a href="#" class="hover:underline">Home</a></li>
        <li><a href="#" class="hover:underline">Workshops</a></li>
        <li><a href="#" class="hover:underline">Mentoring</a></li>
        <li><a href="#" class="hover:underline">Verein</a></li>
        <li><a href="#" class="hover:underline">Blog</a></li>
      </ul>
    </div>
    <!-- Right: Social Links -->
    <div>
      <h2 class="mb-2 text-xl font-bold text-orange-300">Wir im Netz</h2>
      <ul class="space-y-1 text-sm">
        <li><a href="#" class="hover:underline">LinkedIn</a></li>
        <li><a href="#" class="hover:underline">Pretix (Tickets)</a></li>
        <li><a href="#" class="hover:underline">Facebook</a></li>
        <li><a href="#" class="hover:underline">Instagram</a></li>
        <li><a href="#" class="hover:underline">GitHub</a></li>
        <li><a href="#" class="hover:underline">YouTube</a></li>
      </ul>
    </div>
  </div>
  <div
    class="mt-8 border-t border-[#6c6480] pt-4 text-center text-sm font-semibold text-white"
  >
    Made with <span class="text-red-400">❤️</span> by the CoderDojo Schöneweide Team
  </div>
</footer>
