---
import Logo from "@/components/Logo.astro";
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";

export interface NavigationLink {
  name: string;
  url: string;
}

const { main }: { main: NavigationLink[] } = menu;
const { navigation_button, settings } = config;
const { pathname } = Astro.url;
---

<header class={`header z-30 bg-white dark:bg-darkmode-theme-light ${settings.sticky_header && "sticky top-0"}`}>
  <nav class="navbar container mx-auto px-4 py-4">
    <!-- logo -->
    <div class="order-0">
      <Logo />
    </div>
    <!-- navbar toggler -->
    <input id="nav-toggle" type="checkbox" class="hidden" />
    <label
      for="nav-toggle"
      class="order-3 cursor-pointer flex items-center lg:hidden text-text-dark dark:text-white lg:order-1"
    >
      <svg id="show-button" class="h-6 fill-current block" viewBox="0 0 20 20">
        <title>Menu Open</title>
        <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
      </svg>
      <svg id="hide-button" class="h-6 fill-current hidden" viewBox="0 0 20 20">
        <title>Menu Close</title>
        <polygon
          points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
          transform="rotate(45 10 10)"></polygon>
      </svg>
    </label>
    <!-- /navbar toggler -->
    <ul
      id="nav-menu"
      class="navbar-nav order-3 hidden w-full pb-6 lg:order-1 lg:flex lg:w-auto lg:space-x-2 lg:pb-0 xl:space-x-8"
    >
      {
        main.map((menu) => (
              <li class="nav-item">
                <a
                  href={menu.url}
              class={`nav-link block text-lg font-medium text-gray-700 hover:text-orange-400 dark:text-white dark:hover:text-orange-400 ${
                    (pathname === `${menu.url}/` || pathname === menu.url) &&
                "text-orange-400"
                  }`}
                >
                  {menu.name}
                </a>
              </li>
        ))
      }
    </ul>
    <div class="order-1 ml-auto flex items-center md:order-2 lg:ml-0">
      <ThemeSwitcher className="mr-5" />
    </div>
  </nav>
</header>

<style>
  .navbar {
    @apply flex items-center justify-between;
  }
  .navbar-nav {
    @apply flex flex-col;
  }
  @media (min-width: 1024px) {
    .navbar-nav {
      @apply flex-row;
    }
  }
  .nav-item {
    @apply relative;
  }
  .nav-link {
    @apply px-4 py-2;
  }
  #nav-toggle:checked ~ #nav-menu {
    @apply block;
  }
  #nav-toggle:checked ~ label #show-button {
    @apply hidden;
  }
  #nav-toggle:checked ~ label #hide-button {
    @apply block;
  }
</style>
