---
import { Picture } from 'astro:assets';

export interface Props {
  /**
   * Path to the directory containing the images.
   */
  images: string;
  /**
   * Rotation speed in pixels per second.
   */
  speed?: number;
}

const { images: directory, speed = 200 } = Astro.props;
const images = Object.entries(
  import.meta.glob<{ default: any }>(
    '/src/assets/images/**/*.{png,jpg,jpeg,svg}',
  ),
)
  .filter(([path]) => path.substring(5).startsWith(directory))
  .map(([, image]) => image);

const width = (await Promise.all(images.map(async (image) => await image())))
  .map((image) => image.default.width)
  .reduce((sum, x) => sum + x);

const duration = width / speed + 's';
---

<div class="carousel" style={`--duration: ${duration}`}>
  <div>
    {
      [...images, ...images].map((image) => (
        <>
          <Picture
            src={image()}
            formats={['avif', 'webp']}
            alt="image"
            layout="constrained"
          />
        </>
      ))
    }
  </div>
</div>
