---
import { useTranslations } from '@/i18n.ts';
import { getCollection } from 'astro:content';

const { t, translatePath } = useTranslations(Astro.currentLocale);
const socials = (await getCollection('socials'))
  .sort((a, b) => a.data.order - b.data.order)
  .map((social) => ({
    label: social.data.label,
    url: social.data.url,
  }));
---

<footer class="bg-accent-dark py-8 text-white">
  <div
    class="container mx-auto grid grid-cols-1 gap-4 text-center sm:grid-cols-3 sm:text-start"
  >
    <h2 class="m-0! sm:col-span-2">
      {t('title')}
    </h2>

    <nav class="flex flex-col gap-1">
      <a href={translatePath('/')} class="hover:underline">
        {t('menu.items.home')}
      </a>
      <a href={translatePath('/workshops')} class="hover:underline">
        {t('menu.items.workshops')}
      </a>
      <a href={translatePath('/mentoring')} class="hover:underline">
        {t('menu.items.mentoring')}
      </a>
      <a href={translatePath('/society')} class="hover:underline">
        {t('menu.items.society')}
      </a>
      <a href={translatePath('/blog')} class="hover:underline">
        {t('menu.items.blog')}
      </a>
    </nav>

    <nav class="flex flex-col gap-1">
      <a href={translatePath('/newsletter')} class="hover:underline">
        {t('menu.items.newsletter')}
      </a>
      <a href={translatePath('/imprint')} class="hover:underline">
        {t('menu.items.imprint')}
      </a>
      <a href={translatePath('/privacy-policy')} class="hover:underline">
        {t('menu.items.privacy-policy')}
      </a>
    </nav>

    <h3 class="m-0! self-end sm:col-start-3 sm:row-start-1">
      {t('footer.socials')}
    </h3>

    <nav class="flex flex-col gap-1">
      {
        socials.map(({ label, url }) => (
          <a href={url} class="hover:underline">
            {label}
          </a>
        ))
      }
    </nav>
  </div>

  <p class="mt-8 text-center">
    {t('footer.made-with').replace('{{title}}', t('title'))}
  </p>
</footer>
